<!--<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"-->
        <!--"http://www.w3.org/TR/html4/loose.dtd">-->
<!--<html>-->
<!--<head>-->
    <!--<title></title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<!--<div style="height:400px;width:550px;margin:50px auto;margin-left:auto;border:solid 1px;background: rgb(246, 246, 253);">-->
    <!--<div style="margin-left: 45px;">-->
        <!--# 主页-->
        <!--<form action="#"  role="form" style="margin-top: 90px;">-->
            <!--# 登陆成功！-->
            <!--<div style="margin-top: 145px;">-->
                <!--<input  type="button" value="退 出" />-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link href="../css/style.css" rel="stylesheet">
    <script src="../YS/js/jquery-2.2.0.min.js"></script>

    <script src="../YS/js/login.js"></script>

    <meta http-equiv="Access-Control-Allow-Origin" content="*">

    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->

    <title>登录</title>
</head>

<body>

<!--<div class="content">-->

    <div class="content">
        <p>管理员登录</p>
        <form action='' id="login" name="login" method="post">

                <input id="username" class="username" type="text" placeholder="Username" required>
                <input id="password" class="password" type="password" placeholder="Password" required>


            <input type="submit" id="loginButton" class="button" value="Login">

        </form>
    </div>

<!--</div>-->
</body>
</html>