

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/style.css" rel="stylesheet">
    <script src="../YS/js/jquery-2.2.0.min.js"></script>

    <script src="../YS/js/psw.js"></script>



    <title>修改密码</title>
</head>
<body>

<!--<div class="content">-->

<div class="content">
    <p>密码修改</p>
    <form action='' id="alter" name="login" method="post">


        <input id="userName" class="username" type="text" placeholder="Username" required>
        <input id="oldPassword" class="password" type="password" placeholder="oldPassword" required>
        <input id="newPassword" class="password" type="password" placeholder="newPassword" required>



        <input type="submit" id="resetButton" class="button" value="Reset">

    </form>
</div>

<!--</div>-->
</body>
</html>